@model Fontys_S2_Project___Car_to_go.Models.VehicleViewModel

<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.ID" class="control-label"></label>
                <input asp-for="@Model.ID" class="form-control disabled" />
                <span asp-validation-for="@Model.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Brandname" class="control-label"></label>
                <input asp-for="@Model.Brandname" class="form-control" />
                <span asp-validation-for="@Model.Brandname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Modelname" class="control-label"></label>
                <input asp-for="@Model.Modelname" class="form-control" />
                <span asp-validation-for="@Model.Modelname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Transmission" class="control-label"></label>
                <input asp-for="@Model.Transmission" class="form-control" />
                <span asp-validation-for="@Model.Transmission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Enginepower" class="control-label"></label>
                <input asp-for="@Model.Enginepower" class="form-control" />
                <span asp-validation-for="@Model.Enginepower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Acceleration" class="control-label"></label>
                <input asp-for="@Model.Acceleration" class="form-control" />
                <span asp-validation-for="@Model.Acceleration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Weight" class="control-label"></label>
                <input asp-for="@Model.Weight" class="form-control" />
                <span asp-validation-for="@Model.Weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Cargospace" class="control-label"></label>
                <input asp-for="@Model.Cargospace" class="form-control" />
                <span asp-validation-for="@Model.Cargospace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Seat" class="control-label"></label>
                <input asp-for="@Model.Seat" class="form-control" />
                <span asp-validation-for="@Model.Seat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RentalPrice" class="control-label"></label>
                <input asp-for="@Model.RentalPrice" class="form-control" />
                <span asp-validation-for="@Model.RentalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Fueltype" class="control-label"></label>
                <select asp-for="@Model.Fueltype" class="form-control" id="Fueltype">
                    <option></option>
                    <option value="E5">E5</option>
                    <option value="E10">E10</option>
                    <option value="Diesel">Diesel</option>
                    <option value="Other">Other</option>
                </select>
                <span asp-validation-for="@Model.Fueltype" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.ImageLink" class="control-label"></label>
                <input asp-for="@Model.ImageLink" class="form-control" />
                <span asp-validation-for="@Model.ImageLink" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.CategoryID" class="control-label"></label>
                <select asp-for="@Model.CategoryID" class="form-control">
                    <option></option>
                    <option value="1">Car</option>
                    <option value="2">Van</option>
                    <option value="3">Special Vehicle</option>
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-warning btn-outline-dark input text-center" type="submit" asp-controller="Admin" asp-action="Update">Update Car!</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
